<div id="follow_form">
	<% if current_user.follows(@fboat) %>
		<%= form_for(current_user.follows.find_by(boat_id: @allboats.id), html: {method: :delete}) do |f| %>
			<%= f.submit 'Unfollow' %>
		<% end %>
	<% else %>
		<%= form_for(current_user.follows.build) do |f| %>
				<%= hidden_field_tag :boat_id, @allboats.id %>
				<%= f.submit "Follow" %>
	<% end %>
	<% end %>
</div>

